body {
    background-color: #e0f7f5; /* verde agua claro */
    font-family: 'Segoe UI', sans-serif;
}

a.nav-link:hover {
    text-decoration: underline;
}

h1, h2 {
    font-weight: bold;
}

.boxestrenos{
    margin: 10px;
    float: left;
    padding: 8px 5px 5px 5px;
}

.boxestrenos a {font-size: 1.25rem; text-decoration: none;}
.boxestrenos p {font-size: 0.85rem;}

.imagen_detalle{width: 300px; height: 500px;}