{% extends 'videoclub/base.html' %}
{% load static %}

{% block title %}Inicio{% endblock %}

{% block content %}

    <div class="container">
        <h1 class="text-primary">Estrenos</h1>
        <div class="d-flex">
        {% for pelicula in listado_de_estrenos %}
        <div class="card boxestrenos">
            <img class="card-img-top" src="{% static 'img/movie.jpg' %}" alt="Card image cap">
            <div class="card-body">
                <a href="/catalogo/detalle/{{pelicula.id}}" class="text-success">{{ pelicula.titulo }} ({{ pelicula.anio }})</a>
              <p class="card-text">{{ pelicula.descripcion }}</p>
            </div>
          </div>
        {% endfor %}
    </div>
    </div>

{% endblock %}